.overlay
  position relative
  overflow hidden
  // &:hover
  //   .overlay__img
  //     transform: translate3d(0, 0, 0)
  &__img
    display block
    margin 0
    padding 0
    height auto
    width calc(100% + 40px) !important
    transition opacity 0.35s, transform 0.35s
    transform translate3d(-40px, 0, 0)
    // &:nth-child(n)
    //   margin-right 5px
    // &:first-child
    //   margin-left -15px
    // &:last-child
    //   margin-right 0
  &__fx
    display block
    position absolute
    top 0
    left 0
    z-index: 20
    background rgba(100, 194, 158, 0.8)
    overflow hidden
    transition all 0.5s
    // bottom 0
    // left 0
    // right 0
    width 100%
    height 100%
    opacity 0
    &-close
      // display block
      position absolute
      top 0
      right 0
      z-index 100
      width 45px
      height 45px
      font-size 20px
      font-weight 700
      color #fff
      line-height 45px
      text-align center
      background-color #000
      cursor pointer
      display none
  &__link
    display block
    position absolute
    z-index 100
    text-align center
    color #fff
    font-weight 600
    font-size 14px
    text-transform uppercase
    line-height 30px
    text-decoration none
    left 0
    right 0
    bottom 47%
    margin 0 auto -30px auto
  &__icon
    fa(search)
    font-size 30px
    display block
  &_hover
    .overlay__img
      transform: translate3d(0, 0, 0)
    .overlay__fx
      opacity 1