.form-sub__input
  box-sizing border-box
  // width 2px
  background-color rgba(255, 255, 255, 0.1)
  border solid 1px #fff
  padding 20px
  width 30%
  color #fff
  line-height normal
  font-size 100%
  margin 0
  vertical-align baseline