.logo
  font-family Varela Round, sans-serif
  &__title
    text-transform uppercase
    color #353535
    font-size 40px
    letter-spacing 12px
    margin 10px
    span
      color #a1a9b0
      display inline-block
  &__desc
    letter-spacing 1px
    color #8c9398
    word-spacing 1px
    line-height 25px
    font-size 14px