.responsive__pic
  visibility hidden
  background url(iphone-bg.png) no-repeat
  background-position 50px center
  height 100%
  &_animated
    visibility visible
    animation-name fadeInDown
    animation-duration 1s
    animation-fill-mode both