.responsive
  box-sizing border-box
  position relative
  min-height 650px
  text-align center
  @media screen and (min-width:480px) and (max-width:991px)
    background: #f3f5f8
    height: 540px
  @media screen and (max-width: 480px)
    background: #f3f5f8
    height: 640px