.ignite
  background-color #242830
  padding 70px 0
  text-align center
  &__in
    box-sizing border-box
    make-md-column(12)
  &__btn
    transition all 0.5s
    text-decoration none
    display inline-block
    padding 25px 40px
    color #fff
    border solid 1px #fff
    text-transform uppercase
    font-weight bold
    letter-spacing 1px
    &:hover, &:focus
      color #3dc9b3
      border solid 1px #3dc9b3
