@import 'flexslider/flexslider.css'
.slider
  position relative
  &__item
    margin 0
    padding 0
    // margin-bottom 0px
    list-style none
  &__text
    color #8c9398
    word-spacing 1px
    line-height 25px
    font-size 14px
    margin 1em 0