.mylist
  box-sizing border-box
  padding 0
  list-style none
  &__item-text
    margin 1em 0
    color #8c9398
    word-spacing 1px
    line-height 25px
    font-size 14px
    a
      color #353535
      text-decoration none
      transition all 0.5s
      &:hover, &:focus
        color #3dc9b3
  &__overlay
    box-sizing border-box
    padding-bottom 50px
  &__image
    margin-bottom 40px
  &__social
    margin-top 25px
    margin-bottom 20px