.intro__in
  visibility hidden
  box-sizing border-box
  make-md-column(8)
  make-md-column-offset(2)
  &_animated
    visibility visible
    animation-name fadeInLeft
    animation-duration 1s
    animation-fill-mode both