.swag
  box-sizing border-box
  background url(plants-bg.jpg) no-repeat center center
  background-size cover
  background-attachment fixed
  padding 50px 0 
  text-align center
  &__in
    box-sizing border-box
    make-md-column(8)
    make-md-column-offset(2)
  &__slogan
    box-sizing border-box
    font-weight 500
    line-height 1.1
    margin 0.67em 0
    color #fff
    font-size 40px
    text-transform uppercase
    letter-spacing 5px
    span
      display block
      font-size 25px
      margin-top 20px
  &__arrow-btn
    width 40px
    height 40px
    border-radius 50%
    background: rgba(61, 201, 179, 0.8)
    display inline-block
    margin 10px auto 20px
    color #fff
    font-size 16px
    line-height 40px
    text-align center
  &__arrow-icon
    fa(chevron-down) 
