.hero
  background url(hero-bg.jpg) no-repeat center center
  background-size cover
  padding: 65px 0 300px 0
  height auto
  // @extend .container
  &__logo
    padding-top 170px
  &__learn-more
    make-row()
    make-md-column(6)
    make-md-column-offset(3)
    // button-variant(rgba(61, 201, 179, 1))
    text-align center
    margin-top 60px