.mylist_contact
  margin 0
  .mylist__item
    box-sizing border-box
    visibility visible
    // make-md-column(4)
  //   box-shadow: 0px 3px 0px 0px #f0f2f4
  //   // padding 20px 0
  //   transition all 500ms ease-in-out
  //   &:hover, &:focus
  //     transform translate(0, -15px)
  //     box-shadow 0px 3px 0px 0px #3dc9b3
