.mylist__item 
  box-sizing border-box
  visibility hidden
  box-sizing inherit
  make-md-column(4)
  text-align center
  display block
  &_animated
    visibility visible
    animation-duration 1s
    animation-fill-mode both


