.form-sub__submit
  box-sizing border-box
  background: rgba(61, 201, 179, 0.5)
  border solid 1px rgba(61, 201, 179, 0.5)
  padding 20px
  color #fff
  text-transform uppercase
  letter-spacing 1px
  transition all 0.5s ease
  appearance button
  cursor pointer
  line-height normal
  font-size 100%
  margin 0
  vertical-align baseline
  &:hover
    background rgba(61, 201, 179, 1)
    border solid 1px rgba(61, 201, 179, 1)