.logo__title
  text-transform uppercase
  font-family inherit
  font-weight 500
  line-height 1.1
  color #353535
  font-size 40px
  letter-spacing 12px
  margin 10px
  span
    color #a1a9b0
    display inline-block