.heading
  &_arrow
    font-family Varela Round, sans-serif
    font-smoothing antialiased
    text-shadow 1px 1px 1px rgba(0, 0, 0, 0.004)
    font-size 15px
    text-transform uppercase
    color #353535
    letter-spacing 1px
    background url(h1-bg.png) no-repeat center bottom
    padding-bottom 30px
    font-weight bold