.heading_type_list
  font-size 15px
  color #353535
  text-transform uppercase
  font-weight bold
  &:after
    box-sizing border-box
    content " "
    border solid 2px #3dc9b3
    display block
    width 35px
    margin 25px auto