.heading_type_sub
  color #fff
  font-size 2em
  margin 0.67em 0
  font-weight 500
  line-height 1.1
  span
    display block
    font-size 15px
    text-transform uppercase
    font-weight bold
    margin-top 20px
    letter-spacing 1px
  .heading__icon
    fa(paper-plane)