.heading_type_contact
  line-height 1.1
  // box-sizing border-box
  font-size 20px
  span
    box-sizing border-box
    display block
    color #3dc9b3
    text-transform uppercase
    letter-spacing 1px
    font-size 14px
    margin-top 15px
  &:after
    box-sizing border-box
    content " "
    border solid 2px #3dc9b3
    display block
    width 35px
    margin 25px auto
  // .heading__icon
  //   fa(paper-plane)