.mylist__icon
  height 175px
  width 175px
  line-height 175px
  max-width 100%
  background #3dc9b3
  border-radius 50%
  display block
  color #fff
  font-size 55px
  text-align center
  vertical-align middle
  position relative
  margin 0 auto 50px