.responsive__col1
  position absolute
  top 0
  left 0
  width: 50%
  background: #f3f5f8
  float: left
  height: 100%
  box-shadow: inset -15px -11px 40px -6px rgba(0, 0, 0, 0.1)
  // z-index: 1
  @media screen and (max-width:991px)
    display: none
  @media screen and (max-width:480px)
    display: none