.intro
  font-family Varela Round, sans-serif
  font-smoothing antialiased
  text-shadow 1px 1px 1px rgba(0, 0, 0, 0.004)
  background #f3f5f8
  padding 90px 0 100px
  p
    margin 50px 0 0
    color #8c9398
    word-spacing 1px
    line-height 25px
    font-size 14px
  a
    // background 0 0
    color #353535
    transition all 0.5s
    &:hover, &:focus
      color #3dc9b3
      text-decoration none
    &:active, &:hover
      outline 0
