.page
  // box-sizing border-box
  font-family Varela Round, sans-serif
  -webkit-font-smoothing antialiased
  text-shadow 1px 1px 1px rgba(0, 0, 0, 0.004)
  margin 0
  font-size 14px
  line-height 1.42857143
  color #333
  background-color #fff