@import bootstrap
// @import 'bootstrap/normalize'
@import 'font-awesome-stylus/stylus/'
@import 'animate.css/animate.css'
// @import stylus-font-awesome
// @import 'stylus-font-awesome/font-awesome/mixins'
// @import 'stylus-font-awesome/font-awesome/variables'

// font-awesome('./fonts/')

// @import 'bootstrap/normalize'
// @import 'bootstrap/mixins'

// html
//   font-size 100%
//   text-size-adjust 100%


// html, html a 
//   font-smoothing antialiased
//   text-shadow 1px 1px 1px rgba(0, 0, 0, 0.004)

// html, button, input, select, textarea 
//   font-family Varela Round, sans-serif

// body
//   // color red
//   // margin 0
//   font-family Varela Round, sans-serif
  
// a:focus
//   outline thin dotted
//   &:active, &:hover
//     outline 0
    
// /* Typography */
// h1 
//   font-size 2em
//   margin 0.67em 0
//   color #353535
// h2
//   font-size 1.5em
//   margin 0.83em 0
// h3
//   font-size 1.17em
//   margin 1em 0
// h4
//   font-size 1em
//   margin 1.33em 0
// h5
//   font-size 0.83em
//   margin 1.67em 0
// h6
//   font-size 0.75em
//   margin 2.33em 0

// abbr[title]
//   border-bottom 1px dotted
// b, strong
//   font-weight bold
// blockquote
//   margin 1em 40px
// dfn
//   font-style italic
// mark
//   background #ff0
//   color #000
// p, pre
//   margin 1em 0
// code, kbd, pre, samp
//   font-family monospace, serif
//   _font-family: 'courier new' monospace;
//   font-size 1em
// pre
//   white-space pre
//   white-space pre-wrap
//   word-wrap break-word
// q
//   quotes none
//   &:before, &:after
//     content ''
//     content none
// small
//   font-size 75%
// sub, sup
//   font-size 75%
//   line-height 0
//   position relative
//   vertical-align baseline
// sup
//   top -0.5em
// sub
//   bottom -0.25em