wrapper()
  width 1060px
  height auto
  margin 0 auto

sr-only()
  position absolute
  width 1px
  height 1px
  margin -1px
  padding 0
  overflow hidden
  clip rect(0, 0, 0, 0)
  border 0

.shadow
  text-shadow rgb(55, 181, 161) 1px 1px, \
              rgb(55, 181, 161) 2px 2px, \
              rgb(55, 181, 161) 3px 3px, \
              rgb(55, 181, 161) 4px 4px, \
              rgb(55, 181, 161) 5px 5px, \
              rgb(55, 181, 161) 6px 6px, \
              rgb(55, 181, 161) 7px 7px, \
              rgb(55, 181, 161) 8px 8px, \
              rgb(55, 181, 161) 9px 9px, \
              rgb(55, 181, 161) 10px 10px, \
              rgb(55, 181, 161) 11px 11px, \
              rgb(55, 181, 161) 12px 12px, \
              rgb(55, 182, 162) 13px 13px, \
              rgb(55, 183, 163) 14px 14px, \
              rgb(56, 184, 164) 15px 15px, \
              rgb(56, 185, 165) 16px 16px, \
              rgb(56, 186, 166) 17px 17px, \
              rgb(57, 187, 167) 18px 18px, \
              rgb(57, 188, 168) 19px 19px, \
              rgb(57, 189, 169) 20px 20px, \
              rgb(58, 191, 170) 21px 21px, \
              rgb(58, 192, 171) 22px 22px, \
              rgb(58, 193, 172) 23px 23px, \
              rgb(59, 194, 173) 24px 24px, \
              rgb(59, 195, 174) 25px 25px, \
              rgb(59, 196, 175) 26px 26px, \
              rgb(60, 197, 176) 27px 27px, \
              rgb(60, 198, 177) 28px 28px, \
              rgb(60, 199, 178) 29px 29px, \
              rgb(61, 201, 179) 30px 30px 